<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{client_id}}"
        aria-expanded="true"
        aria-controls="{{client_id}}"
      >
       {{title}} - {{scrap_type}} 
      </button>
    </h2>
    <div
      id="{{client_id}}"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >


      
      

      <ul class="list-group">

        
        <li class="list-group-item">
          <div class="container text-center">
            <div class="row align-items-center">
              <div class="col">

                <div class="date">First check:  {{suanki_tarih_ve_saat}}</div>
                <div class="date">Last check:  {{suanki_tarih_ve_saat}}</div>
                <div class="date">Next check:  {{suanki_tarih_ve_saat}}</div>
                <h5><span class="price badge bg-warning">{{result}}</span></h5>

                <!-- <hr>

                <div class="date">2023-01-01 10:30:00</div>
                <div class="date">2023-04-01 10:30:00</div>
                <h5><span class="price badge bg-secondary">120 money</span></h5> -->

              </div>
            </div>
          </div>
        </li>

       

        
      </ul>
    </div>
  </div>
</div>
