<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Pazar Team</title>
    
</head>
<body>

    <div id="result">
        <div class="container-fluid bg-info d-flex align-items-center justify-content-center" style="height: 100vh">
            <div class="container-lg">

                <div class="d-flex justify-content-center align-items-center mb-5">
                    <h1>Pazar Team</h1>
                </div>
                
                <h2>You don't need to visit websites dozens of times for the product price you are following. Provide the product link and tell us the current price so we can figure out which website element we need to track and let you know the changes.</h2>
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <i class="fas fa-2xl fa-circle-down"></i>
                </div>
                
            </div>
        </div>

    
        <div class="container-fluid bg-secondary d-flex align-items-center justify-content-center" style="height: 90vh">
            <div class="container">
                <form id="myForm" hx-post="/process" hx-target="#result" hx-trigger="submit" class="p-4 shadow rounded bg-white">
                    <h2 class="text-center mb-4">Just enter your email address and start. No passwords no verification codes</h2>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="inputData" name="inputData" required>
                        <div class=" text-secondary mx-2 mt-1">*We do not send any verification code or nonsense e-mails or share someone else. We only do this when there is a change in price. Trust me.</div>

                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block mt-3 btn-lg" >Start</button>
                    </div>
                    
                </form>
            </div>
        </div>

   <div class="bg-light py-5">
        <div class="container d-flex justify-content-center align-items-center ">
            <div class="row">

                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-center align-items-center">Free</h5>
                            <p class="card-title text-secondary">We don't have premium verison yet. If the product fits the product-market fit, we will open premium mode. </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Check per 6 hours for level 1 websites</li>
                                <li class="list-group-item">20 links for level 1</li>
                                <li class="list-group-item">Check per day for level 2 websites</li>
                                <li class="list-group-item">4 links for level 2</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="bg-light pt-4">
        <div class="container d-flex justify-content-center align-items-center ">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">

                            <h2 class="d-flex justify-content-center align-items-center m-3">Works on 96% of websites</h2>

                            <div class="alert alert-light d-flex align-items-center" role="alert">
                                <div>
                                    Level 1 mean we don't have to use selenium type integration test tool. These are fast and low cost
                                    <h6><span class="badge bg-primary text-white">Trendyol</span><span class="badge bg-primary text-white mx-1">Ebay</span><span class="badge bg-primary text-white mx-1">Shopify websites</span></h6>

                                </div>
                              </div>

                              <div class="alert alert-light d-flex align-items-center" role="alert">
                                <div>
                                    Level 2 mean we have to use selenium type integration test tool. These are slow and expensive
                                    <h6><span class="badge bg-secondary">Amazon</span><span class="badge bg-secondary mx-1">Hepsiburada</span><span class="badge bg-secondary mx-1">Migros</span><span class="badge bg-secondary mx-1">N11</span></h6>
                                </div>
                              </div>

                              <div class="alert alert-light d-flex align-items-center" role="alert">
                                <div>
                                    We know it doesn't work on some sites. Don't use these websites bro
                                    <h6><span class="badge bg-danger mx-1">Aliexpress</span></h6>
                                </div>
                              </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- result bir için div-->
    </div>



    





    <div class="container-fluid bg-dark text-white d-flex justify-content-center align-items-center" style="height: 10vh">
        <div class="text-center">
            Feel free to contact with me <a href="mailto:umut.pazarteam@gmail.com" class="text-white">umut.pazarteam@gmail.com</a>.
        </div>
    </div>
   
</body>
</html>